<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> social</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/material-icons@1.13.12/iconfont/material-icons.min.css">

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css" />
  <link rel="stylesheet" href="/stylesheets/home.css" />
  <link rel="stylesheet" href="/stylesheets/login.css" />
</head>

<body style="background:rgb(33, 32, 32) ;">
   
 
    <div id="viewcomment" style="display: block;">
        <h1>All Comment..</h1>
        <i class="fa-solid fa-xmark closecomment"></i>
        <div class="innerviewcomment">
            <div class="profilephoto">
                <img src="/images/feed-5.jpg" alt="" />
            </div>
            <div class="userdetail" style="overflow-x: auto; margin-top: -6px;">
                <form action="#" method="post">
                    <div class="commentbutton2"><input type="text" placeholder="comment.." style=" outline: none; width: 79%;height: 100%;font-size: 20px;">
                        <input type="submit" value="save" style="background-color: rgb(89, 122, 150);width: 20%;height: 100%;font-size: 20px; cursor: pointer;">
                    </div>
                </form>
                
                <div style="width: 100%;height: 50px;">
                    <img src="/images/feed-5.jpg" style="height: 50px; width: 50px;border-radius: 50%; display: inline;">
                    <span class="imgusername"> hiii</span><span class="imgusername"> detail</span>
                </div>
                <!-- <div style="width: 100%;height: 50px; ">
                    <img src="/images/feed-5.jpg" style="height: 50px; width: 50px;border-radius: 50%; display: inline;">
                    <span class="imgusername"> hiii</span><span class="imgusername"> detail</span>
                </div>
                -->
            </div>
        </div>
    </div>


</body>

</html>