

        <div class="container1">
            
            <div class="row full-screen align-items-center">
                <div class="left1">
                 <%-include("tree")-%>
                   
                    

                </div>
                <div class="right1">
                    <div class="form">
                        <div class="text-center">
                            <h6><span>Log In</span> <span>Sign Up</span></h6>
                            <input type="checkbox" class="checkbox" id="reg-log">
                            <label for="reg-log"></label>
                            <div class="card-3d-wrap">
                                <form action="#" method="post" id="form10">
                                <div class="card-3d-wrapper">
                                    <div class="card-front">
                                        <div class="center-wrap">
                                            <h4 class="heading1">Log In</h4>
                                           
                                            <div class="form-group">
                                                <input type="text" class="form-style" placeholder="Username or Email" name="email">
                                                <i class="input-icon material-icons">alternate_email</i>
                                            </div>
                                           
                                            </form>
                                            
                                            <div class="form-group">
                                                <input type="password" class="form-style password" placeholder="Enter Password" name="password" >
                                                <i class="input-icon material-icons">lock</i>
                                                <i class="fa-regular fa-eye-slash"></i>
                                            </div>

                                            <input type="submit" class="btn1" value="Submit">
                                            <p class="text-center"><a href="/resetpassword" class="link">Forgot your password?</a></p>
                                        </div>
                                    </div>

                                    <div class="card-back">
                                        <div class="center-wrap">
                                            <h4 class="heading1">Sign Up</h4>
                                            <div class="form-group">
                                                <input type="text" class="form-style" placeholder="Your Name" name="username" >
                                                <i class="input-icon material-icons">perm_identity</i>
                                            </div>

                                            <div class="form-group">
                                                <input type="email" class="form-style" placeholder="Your Email" name="email" >
                                                <i class="input-icon material-icons">alternate_email</i>
                                            </div>

                                            <div class="form-group">
                                                <input type="password" class="form-style password" placeholder="Your Password" name="password" >
                                                <i class="input-icon material-icons">lock</i>
                                                <i class="fa-regular fa-eye-slash"></i>
                                            </div>

                                            <input type="submit" class="btn1" value="Submit">
                                        </div>
                                    </div>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
<script src="/javascripts/tree.js"></script>
