
    <div class="container1">
         
        <div class="row full-screen align-items-center">
            <div class="left1">
                <%-include("tree")-%>
            </div>
            <div class="right1">
                <div class="form" style="margin-top: 100px;">
                    <div class="text-center">
                        <div class="card-3d-wrap">
                            <form action="#" method="post" id="resetpass12">

                                <div class="card-front">
                                    <div class="center-wrap">
                                        <h4 class="heading1">Reset Password</h4>
                                        <div class="form-group">
                                            <input type="text" class="form-style" placeholder="Email"
                                                name="email" value="<%=email%>" required>
                                            <i class="input-icon material-icons">alternate_email</i>
                                        </div>
                                        <div class="form-group otp" style="margin-bottom: -9px;">
                                            <input type="text" class="form-style" placeholder="Entre Opt" name="otp">
                                            <i class="fa-solid fa-key"></i>
                                            <input type="submit" id="get_otp" value="get otp" >
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-style password"
                                                placeholder="Enter New Password" name="password">
                                            <i class="input-icon material-icons">lock</i>
                                            <i class="fa-regular fa-eye-slash"></i>
                                        </div>
                                        <input type="submit" class="btn1" value="Submit">

                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <script src="./javascripts/resetpassword.js">
        
    </script>
