<div id="viewcomment" style="display: none;">
    <h1>All Comment..</h1>
    <i class="fa-solid fa-xmark closecomment"></i>
    <div class="innerviewcomment">
        <div class="profilephoto">
            <img src="/images/feed-5.jpg" alt="" />
        </div>
        <div class="userdetail" style="overflow-x: auto;">
            <form action="#" method="post">
                <div class="commentbutton2"><input type="text" placeholder="comment.." style=" outline: none; width: 79%;height: 100%;font-size: 20px;">
                    <input type="submit" value="save" style="background-color: rgb(89, 122, 150);width: 18%;height: 100%;font-size: 20px; cursor: pointer;">
                </div>
            </form>
            
            <div style="width: 100%;height: 50px;">
                <img src="/images/feed-5.jpg" style="height: 50px; width: 50px;border-radius: 50%; display: inline;">
                <span class="imgusername"> hiii</span><span class="imgusername"> detail</span>
            </div>
            <%=item.comments%>
            <!-- <div style="width: 100%;height: 50px; ">
                <img src="/images/feed-5.jpg" style="height: 50px; width: 50px;border-radius: 50%; display: inline;">
                <span class="imgusername"> hiii</span><span class="imgusername"> detail</span>
            </div>
            -->
        </div>
    </div>
</div>
